[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
python-dotenv = "*"
psycopg2-binary = "*"
gunicorn = "*"
sendgrid = "*"
boto3 = "*"
django-storages = "*"
django-s3direct = "*"
Pillow = "*"
Django = ">=3.0.7"

[requires]
python_version = "3.8"
