<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Always force latest IE rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Django is a responsive creative template">
    <meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">

    <!-- Title -->
    <title>Lee's portfolio</title>
    <link rel="icon" href="https://portfo-images.s3-eu-west-1.amazonaws.com/favicon.ico">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">

    <!-- Font awesome Core CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/et-line.css' %}">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- magnific-popup CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!--[if lt IE 9]-->
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <!--[endif]-->


</head>
<body>

<!-- ====== Preloader ======  -->
<div class="loading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<!-- ======End Preloader ======  -->

<main>

    <!-- ====== Navgition ======  -->
    <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- logo -->
                <a class="navbar-brand" href="#">Lee</a>
            </div>

            <!-- Collect the nav links, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- links -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#advices">Advices</a></li>
                    <li><a href="#cd-timeline">Experience</a></li>
                    <li><a href="#portfolio">Work</a></li>
                    <li><a href="#skill">Skill</a></li>
                    <li><a href="#clients">Code</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <!-- ====== End Navgition ======  -->

    <!-- ====== Header ======  -->
    <header style="background: url('https://portfo-images.s3-eu-west-1.amazonaws.com/main.jpg')" id="home" class="header"
            data-stellar-background-ratio="0.5">
        <!-- header content -->
        <div class="caption v-middle text-center">
            <h3>I Am ,</h3>
            <h1>{{ person.candidate_name }}</h1>
            <h4>I'm <span></span></h4>
        </div>

        <div class="button-scroll" data-scrollTo="about"><span></span></div>
    </header>
    <!-- ====== End Header ======  -->

    <!-- ====== about container ======  -->
    <section id="about" class="hero section-padding">
        <div class="container">

            <div class="row">

                <!-- about block -->
                <div class="hero-block">

                    <!-- hero image -->
                    <div class="col-md-4">
                        <div class="hero-img">
                            <img src="https://portfo-images.s3-eu-west-1.amazonaws.com/{{ person.personal_image_name }}.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6">
                        <div class="hero-item">
                            <h5 class="mb-20">{{ person.short_summary }}</h5>
                            <p class="mb-20">{{ person.summary|linebreaks }}</p>
                            <button onclick="location.href='https://portfo-images.s3-eu-west-1.amazonaws.com/Qi+Li-EN.pdf'"><span><i class="fa fa-download" aria-hidden="true"></i></span> Resume</button>
                            <button onclick="location.href='https://www.linkedin.com/in/lee-qi/'">Linkedin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: about block -->

        <div class="clear-fix"></div>

        <!-- What I can give advice -->
        <div id="advices" class="services section-padding">
            <div class="container">

                <!-- section header -->
                <div class="section-head text-center">
                    <h5 class="tit">I can give advices on: </h5>
                </div>

                <div class="row">
                    {% for advice in advices.all %}
                        <!-- services items -->
                        <div class="serv-row">
                            <div class="col-md-4">
                                <div class="serv-item">
                                    <span>{{ advice.rank }}</span>
                                    <h6>{{ advice.name }}</h6>
                                    <p>{{ advice.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--====== End: What I can give advices to ======-->


        <!--====== MY Experience ======-->

        <section id="cd-timeline" class="cd-container timeline_body section-padding">
            <div class="section-head text-center">
                <h5 class="tit">What I learnt from my experience !</h5>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="https://portfo-images.s3-eu-west-1.amazonaws.com/icons8-amazon-128.png" alt="Picture">
                </div>

                <div class="cd-timeline-content">
                    <h3>Amazon Cork</h3>

                    <timeline_h2>Investigation Specialist</timeline_h2>
                    <p>My responsibility was checking the amazon seller's documentation to ensure the seller was safe and qualified. </p>
                    <p>The Amazon culture is amazing and complete. It went through all of the decisions to make sure you work as a leader. </p>
                    <p>To be a leader, you have to be smart and make the right decisions to serve your customers than simply do what your boss tells you to do.</p>

                    <span class="cd-date">2015/June/14 -- 2016/July/15</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                    <img src="https://portfo-images.s3-eu-west-1.amazonaws.com/icons8-take-away-food-100.png" alt="Movie">
                </div>

                <div class="cd-timeline-content">
                    <h3>Fudi&more</h3>
                    <timeline_h2>iOS Engineer</timeline_h2>
                    <p>I was the iOS Engineer and co-founder who developed the app from scratch.</p>
                    <p>Also, I drafted the business plan, helped to make strategic decisions and did a few marketing projects.</p>
                    <p>As an iOS engineer, I published my first industry app. The code was not perfect but I improved my learning and problem-solving skills. </p>
                    <p>As a co-founder, I have witnessed the company's build-up. Just like other companies, we did have setbacks. However, our success was how quickly you respond and adapt from setbacks. </p>

                    <span class="cd-date">2016/July/15 -- 2018/June/1</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
                </div>

                <div class="cd-timeline-content">
                    <h3>Boonray Technology</h3>
                    <timeline_h2>iOS/Android Engineer</timeline_h2>
                    <p>As a mobile engineer, I developed android/iOS apps to operate the drone.  I regard the drone as the 3rd human eye to see the world from the height we can't reach. </p>
                    <p> It makes me feel like you are seeing the world on the giants' shoulder. Unfortunately, the drone can not do much work but take pictures. I believe it will be equipped with hands in the future.</p>
                    <p>I started developing android apps there. I can still remember when the manager told me to develop the android app. I wanted to say no because I didn't know if I could make it. I wanted to say yes because I knew I liked learning new technologies. </p>
                    <p>Meanwhile, as an observer to see the company making management decisions. I gained a lot of experience and realized how important the culture plays in a company.</p>
                    <span class="cd-date">2018/Nov/11 -- 2019/Oct/15</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
                </div>

                <div class="cd-timeline-content">
                    <h3>Lyne Chemicals LTD</h3>
                    <timeline_h2>Software Engineer</timeline_h2>

                    <p>I started learning python as a freelancer. As I have learnt swift and java, learning python was quick and easy. </p>
                    <p>It took me a while to adapt to being an API-back-end developer while I handled authentication, okta API, system design and CI/CD. Overall, it's pretty easy to develop Django API and Website. </p>
                    <p>So far, I believe my client is happy for what I have created. We strictly implemented scrum development. We had good communication throughout the process which ensured we were in the right direction.</p>

                    <span class="cd-date">2020/Jan/11 -- Present</span>
                </div>
            </div>

        </section>
        <!--====== End: MY Experience ======-->


    </section>
    <!--====== End: about container ======-->

    <!--====== Portfolio ======-->
    <section id="portfolio" class="portfolio section-padding">

        <div class="container">

            <!-- section header -->
            <div class="section-head text-center">
                <h5 class="tit">My Articles !</h5>
            </div>
            <div class="row">

                <!-- filter links -->
{#                <div class="filtering text-center mb-50">#}
{#                    <span data-filter='*' class="active">All</span>#}
{#                    <span data-filter='.ios'>iOS</span>#}
{#                    <span data-filter='.android'>Android</span>#}
{#                    <span data-filter='.web'>Web</span>#}
{#                </div>#}

                <!-- gallery -->
                <div class="gallery text-center">
                    {% for work in works.all %}
                        <!-- gallery item -->
                        <div class=" col-md-4 item-img {{ work.work_type }}">
                            <img class="square" src="https://portfo-images.s3-eu-west-1.amazonaws.com/{{ work.work_image_name }}.jpg" alt="image">
                            <a href={{ work.work_url }}>
                            <div class="item-img-overlay">
                                <span class="v"></span>
                                <span class="x"></span>
                                <div class="v-middle">
                                    <h5>{{ work.work_name }}</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--====== End Portfolio ======-->

    <section id="about" class="hero section-padding">

        <!-- ====== skilss ======  -->

        <div id = 'skill' class="container">
            <div class="section-head text-center">
                <h5 class="tit">My Skills !</h5>
            </div>
            <div class="row">
                {% for category in categories.all %}

                    <!-- skills -->
                    <div class="skills">
                        <div class="col-md-4">
                            <div class="hero-progress">
                                <h5>{{ category.category_name }}</h5>

                                {% for skill in skills.all %}
                                    {% if skill.category == category.category_name %}

                                        <div class="progress-item">
                                            <p>{{ skill.skill_name }}<span
                                                    class="pull-right">{{ skill.percentage }}%</span></p>
                                            <div class="progress-main"><span class="progress-bar"
                                                                             data-value="{{ skill.percentage }}%"></span>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endfor %}

                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- ====== End skilss ======  -->

    <!--====== Clients ======-->
    <section id="clients" class="clients section-padding">
        <div class="container">
            <div class="section-head text-center">
                <h5 class="tit">My Codes !</h5>
            </div>
            <div class="row">
                {% for code in codes.all %}
                    <div class="col-md-4 ">
                        <a href="{{ code.code_url }}">
                            <div class="card mb-4 shadow-sm code-section">
                                <img class="card-img-top square" src="https://portfo-images.s3-eu-west-1.amazonaws.com/{{ code.code_image_name }}.jpg">
                                <div class="card-body">
                                    <p class="card-title" style="font-size:20px">{{ code.code_name }}</p>
                                    <p class="card-text">{{ code.code_description }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--====== End Clients ======-->

    <!--====== Contact ======-->
    <section id="contact" class="contact section-padding">

        <!-- section header -->
        <div class="section-head text-center">
            <h5 class="tit">Say Hello !</h5>
        </div>

        <!-- form -->
        <div class="main-form">
            <div class="container">
                <div class="row">
                    <!-- contact form -->
                    <div class="col-md-offset-2 col-md-8">
                        <form class="form" id="contact-form" method="post" action="contact.php" role="form">
                            <div class="messages"></div>

                            <div class="controls">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name *"
                                                   required="required" data-error="Firstname is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" placeholder="Email *"
                                                   required="required" data-error="Valid email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_subject" type="subject" name="subject"
                                                   placeholder="Subject">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message *" rows="4"
                                                      required="required" data-error="Message."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="submit" class="button" value="Send message">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== End Contact ======-->

</main>

<!--====== Footer ======-->
<footer>
    <div class="container">

        <div class="social-icon">
            <a href="https://www.facebook.com/profile.php?id=100004439116516"><span><i class="fa fa-facebook" aria-hidden="true" ></i></span></a>
            <span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
            <a href="https://www.linkedin.com/in/lee-qi/"><span><i class="fa fa-linkedin" aria-hidden="true" ></i></span></a>
            <a href="https://github.com/lee197"><span><i class="fa fa-github" aria-hidden="true"></i></span></a>
        </div>

{#        <p>Copy Right &copy; By lee | All Right Reserved.</p>#}
    </div>
</footer>
<!--====== End Footer ======-->


<!--====== js ======-->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

<!-- bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- singlePageNav -->
<script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>

<!-- magnific-popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- stellar js -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>

<!-- jquery.waypoints.min js -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>

<!-- jquery.counterup.min js -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>

<!-- typed js -->
<script src="{% static 'js/typed.js' %}"></script>

<!-- isotope.pkgd.min js -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<!-- validator js -->
<script src="{% static 'js/validator.js' %}"></script>

<!-- custom js -->
<script src="{% static 'js/custom.js' %}"></script>

<script>

    jQuery(document).ready(function ($) {
        var $timeline_block = $(".cd-timeline-block");

        //hide timeline blocks which are outside the viewport
        $timeline_block.each(function () {
            if (
                $(this).offset().top >
                $(window).scrollTop() + $(window).height() * 0.75
            ) {
                $(this)
                    .find(".cd-timeline-img, .cd-timeline-content")
                    .addClass("is-hidden");
            }
        });

        //on scolling, show/animate timeline blocks when enter the viewport
        $(window).on("scroll", function () {
            $timeline_block.each(function () {
                if (
                    $(this).offset().top <=
                    $(window).scrollTop() + $(window).height() * 0.75 &&
                    $(this).find(".cd-timeline-img").hasClass("is-hidden")
                ) {
                    $(this)
                        .find(".cd-timeline-img, .cd-timeline-content")
                        .removeClass("is-hidden")
                        .addClass("bounce-in");
                }
            });
        });
    });

</script>

</body>
</html>

